/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* estilos del menu */

header nav ul {
    background-color: whitesmoke;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: row-reverse;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

nav ul li a:hover {
    font-weight: bold;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Propiedades del banner */

.banner {
    background-color: rgb(185, 241, 178);
    background-image: url(../img/solen-feyissa-lDy7jcXiUnQ-unsplash.jpg);
    background-repeat: no repeat;
    text-align: center;
    color: whitesmoke;
    height: 300px;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hijo-banner-1 {
    margin: 25px;
    font-size: 50px;
    text-shadow: 1px 1px 5px black;
}

.hijo-banner-2 {
    margin: 10px;
    font-size: 30px;
}

.hijo-banner-3 {
    font-size: 20px;
}


.boton {
    background-color: #51B0DF;
    color: whitesmoke;
    padding: 0.7rem;
    width: 5rem;
    box-shadow: 2px 2px 5px black;
    text-shadow: 1px 1px 5px black;
}

/* animacion del boton */
.boton:hover {
    font-weight: bold;
    box-shadow: 2px 2px 2px rgb(112, 106, 106);
    transform: scale(0.9);
}


/* cajas con contenido */

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}


.caja {
    background-color: rgba(173, 243, 132, 0.911);
    height: 220px;
    width: 220px;

    /* propiedad del margin */
    border: 2px solid rgb(145, 231, 96);
    margin: 100px 30px 50px 30px;
    padding: 5px;
}

.img-caja {
     display: flex;
    justify-content: center;

}

.titulo-caja {
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 8%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}


.parrafo-caja {
    color: grey;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

section p {
    text-align: center;
    color: black;
    width: 100%;
    margin-top: 4rem;
    font-size: 2.5rem;
    text-shadow: 3px 3px 3px rgb(92, 216, 75);
}

/* IMAGENES */

.img_grid {
    height: 950px;
    width: 1200px;
    margin-top: 15rem;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-template-rows: repeat(3, 8fr);
    
    grid-template-areas: 
        "imgCinco imgDos imgSiete"
        "imgTres imgSeis imgCuatro"
        "imgTres imgUno imgCuatro";
        
}

.imgUno {
    grid-area: imgUno;
}
.imgDos {
    grid-area: imgDos;
}
.imgTres {
    grid-area: imgTres;
}
.imgCuatro {
    grid-area: imgCuatro;
}
.imgCinco {
    grid-area: imgCinco;
}
.imgSeis {
    grid-area: imgSeis;
}
.imgSiete {
    grid-area: imgSiete;
}


/* ESTILOS DEL FOOTER */

footer {
    height: 200px;
    margin-top: 30%;
    background-color: whitesmoke;
}


/* LOGO REDES FOOTER */
.redes-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
}
footer div img:hover {
    filter: drop-shadow(5px 5px 3px);
    color: blue;
}

/* SUSCRIPCION FOOTER*/
footer div p {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    margin: 3%;
}

footer form {
    width: 2rem;
    display: flex;
    flex-direction: row;
}





/*........... MQ............... */
/*  */
@media screen and (max-width: 800px) {
    header 

      

    main {
        background-color: whitesmoke;
        display: block;
    }

    footer 

    
}






/* estilos page "ACERCA DE MI" */

.figure{
    object-fit: cover;
}

.container_2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    
    
    margin: 10%;
    margin-left: 12%;
}

.container_2 p {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}

/* Estilos page INFO-TERAPIA */

.card-link {
    text-decoration: none;
    color: green;
    text-shadow: 1px 1px 1px black;
    font-size: 1.5em;
}

.card-link:hover {
    text-transform: uppercase;
    color: green;;
}




/* Estilos page DESCUBRE */

main h1{
    text-shadow: 1px 1px 2px black;
    margin: 1rem;
}

.contenedorUno {
    height: 25%;
    width: 45%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;    
}

.subtitulo {
    margin: 1rem;
    font-size: 1.5rem;
}