//hojas secundarias

@import "../scss/html/infoterapia";
@import "../scss/html/descubre";
@import "../scss/html/contacto";
@import "../scss/html/acercademi";
@import "../scss/html/index";

@import "utilidades/variables";
@import "utilidades/mixin";
@import "utilidades/extend";




//nesting

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//estilos del menu

body {
    div {

        header {

            nav {
                ul {

                    background-color: whitesmoke;
                    margin: 10px;
                    padding: 10px;
                    display: flex;
                    flex-direction: row;
                    list-style-type: none;
                    justify-content: space-evenly;

                    li {
                        a {
                            color: black;
                            text-decoration: none;
                        }

                        a:hover {

                            font-weight: bold;
                        }
                    }
                }
            }
        }

        


        footer {
            height: 200px;
            margin-top: 30%;
            background-color: whitesmoke;

            .redes-footer {
                display: flex;
                flex-direction: row;
                justify-content: center;
                text-decoration: none;

                a {
                    img:hover {
                        filter: drop-shadow(5px 5px 3px);
                        color: blue;

                    }
                }
            }

            div {
                p {
                    font-family: Arial, Helvetica, sans-serif;
                    display: flex;
                    justify-content: center;
                    margin: 3%;
                }
            }

            form {
                width: 2rem;
                display: flex;
                flex-direction: row;
            }
        }
    }
}